body{
    background-color: #D3D3D3;
    font-family: 'Gotu', sans-serif;
}

#app {
    background-color: rgb(161, 196, 236);
    width: 700px;
    margin: 40px auto;
    padding: 10px;
    display: flex;
    border-radius: 12px;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 42px;
    width: 50%;
    margin: 40px auto;
    border-radius: 12px;
    border:solid #B0B0B0 5px;
}

#image {
    margin-right: 52px;
    margin-top: 16px;
}

#image img {
    width: 252px;
    height: 252px;

}

#lista {
    margin-top: 16px;
}

#lista input {
    height: 23px;
    width: 220px;
    border-radius: 5px;
}

#lista button {
    height: 29px;
    width: 60px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #E2E2E2;
    color: #474747;
    font-size: 18px;  
    border: none; 
    letter-spacing: 1px;
    
}

#lista button:hover {
    background-color: #979797;
    color: #21A1FF;
    text-decoration: none;
}

#lista ul {
    text-align: left;
    padding: 0;
}

#lista li {
    list-style-type: none;
    margin-top: 8px;
    
}

a {
    text-decoration: none;
    margin-left: 10px;    
}

a:hover {
    background-color: #D5D5D5;
    border-radius: 5px;
}

footer {
    text-align: center;
}